@media screen and (min-width:768px) {
    .mobile-menu {
    display: none;
    }
.mobile-menu-open {
    display: none;
}
.nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
} 
.header { 
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    background: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
}
.contact-mail {
    margin-left: auto;
    display: block;
    gap: 40px;
}
.header-menu-list {
    margin-right: 123px;
}
.mobil-contact-mail {
    margin-top: 4px;
}
}
/*============================MOBILE-HEADER===========================*/
/*=======================768==============================*/
@media screen and (min-width:768px) {
    .main-head {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)), url(../images/hero-p.jpg);
background-size: cover;
background-color: #2E2F42;
justify-content: center;
display: flex;
max-width: 100%;
height: auto;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.main-head {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)), url(../images/hero-p2x.jpg);
}
}

}

/*=======================MAIN==============================*/
@media screen and (min-width:768px) {
    .work-scroll-item {
        display: none;
}
}
/*======================SIZE LIST=========================*/
@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;    
    margin-left: 15px;
    margin-right: 15px;
    }
}

/*======================/SIZE LIST=========================*/
/*=====================DESCRIPTION========================*/
@media screen and (min-width: 768px) {
.list-solution {
    font-weight: 700;
font-size: 36px;
line-height: calc(40/36);
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.list-bord {
    display: flex;
}
.container-list-size {
    width: 1768px;
}
.container-list {
    padding-top:  96px;
}
.list-size {
    width: 356px;
    gap: 24px;
}
.primari-popular-text {
    font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: #434455;
}
.container-description {
    max-width: 736px;    
    margin-left: 15px;
    margin-right: 15px;
    
}
.description-icon {
    display: none;
}

.description-list-size {
    width: calc((100%-30px)/2);
}

}
/*=====================/DESCRIPTION========================*/